<app-header
    headerText="Solicitudes"
    [fillBackground]="true"
    [expandHeader]="true"
    expandText="{{servicio}}"
    [cerrar]="true"
    [atras]="true"
    [titulo]="true"
    (clickedClose)="cerrarsolicitud()"
></app-header>

<ion-content>
    <div id="barra">
        <ion-label>Escriba el nombre de su problema</ion-label>
    </div>

    <ion-row style="margin-top: 40px">
        <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
        <ion-col size="10">
            <ion-input
                [ngClass]="((titulo.invalid && titulo.touched) || titulo_vacio) ? 'green_border':'no_border'"
                type="text"
                name="titulo"
                [(ngModel)]="title"
                required
                maxlength="20"
                placeholder="NOMBRE..."
                #titulo="ngModel"
            ></ion-input>
            <ion-label
                *ngIf="((titulo.invalid && titulo.touched) || titulo_vacio)"
                class="mandatory"
            >
                Campo obligatorio
            </ion-label>
        </ion-col>
        <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    </ion-row>

    <div class="task_title_buttons">
        <div class="one_button">
            <p-button (onClick)="goto()" label="SIGUIENTE"> </p-button>
        </div>
    </div>
</ion-content>
