:host ::ng-deep .task_materials_buttons {
    width: 80%;
    margin-left: 10%;

    // position: absolute;
    // bottom: 5%;

    .one_button {
        width: 100%;
        //padding-top: 15%;

        .p-button {
            margin-top: 10%;
            span {
                padding-top: 5px;
                font: normal 15px 'Helvetica-Md', sans-serif !important;
            }

            color: rgb(49, 49, 57);
            border: solid var(--ion-color-primary);
            background: var(--ion-color-primary);
            width: 100%;
        }

        .p-button:focus {
            box-shadow: none !important;
        }
    }
}

#barraSuperior {
    width: 100%;
    height: 99px;

    background-color: rgb(246, 183, 118);
}

#barraInferior {
    width: 100%;
    height: 65px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49, 49, 57);
}

#logo {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 6px;
}

#barra {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 50px;
    margin-top: 43px;
    font-family: 'Helvetica-Bd';

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
#in {
    border: 1px transparent;

    width: 80%;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}
#in:focus-within {
    border: 1px transparent;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}

#inc {
    border: 1px transparent;

    width: 97%;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}
#inc:focus-within {
    border: 1px transparent;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}
#logo1 {
    width: 39px;
    height: 39px;
    border-radius: 7px 7px 7px 7px;
}

#boton {
    background-color: rgb(246, 183, 118);
    color: rgb(49, 49, 57);
    width: 155px;
    height: 39px;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Helvetica-Bd';

    margin-top: 65px;
}

#link {
    color: rgb(101, 173, 172);
}

ion-input.ng-invalid.ng-touched {
    border: 2px solid rgb(101, 173, 172) !important;
}
