:host ::ng-deep {
    .p-toast-message-custom {
        background-color: rgb(246, 183, 118);
        border: solid rgb(246, 183, 118);
        border-width: 0 0 0 6px;
        width: 10px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}

.last_module {
    //padding-bottom: 10% !important;
    margin-top: 10% !important;
}

.icon_schedule {
    height: 19px !important;
    width: 19px !important;
}

#selecf {
    width: 79px;
    height: 79px;
    object-fit: cover;
}
// .btn_init_section {
//     position: absolute;
//     bottom: 5%;
//     --border-radius: 5px;
//     width: 100% !important;
//     min-width: 160px !important;
//     height: 40px;
//     font: normal 15px 'Helvetica-Roman',  !important;
//     //font: normal 15px "Helvetica-Bd", ;
// }

.h3_title {
    font: normal 14px 'Helvetica-Md' !important;
    margin: 8px 5px 8px 10px !important;
    text-align: left;
    width: 100%;
}

.icon_photo {
    height: 20px !important;
    width: 20px !important;
}

img {
    width: 79px;
    height: 79px;
}

:host ::ng-deep .task_materials_buttons {
    width: 80%;

    //bottom: 0;
    // padding-bottom: 10%;
    position: absolute;
    bottom: 5%;

    .one_button {
        width: 100%;
        //padding-top: 15%;

        .p-button {
            margin-top: 10%;
            span {
                padding-top: 5px;
                font: normal 15px 'Helvetica-Md' !important;
            }

            color: rgb(49, 49, 57);
            border: solid var(--ion-color-primary);
            background: var(--ion-color-primary);
            width: 100%;
        }

        .p-button:focus {
            box-shadow: none !important;
        }
    }
}

.logo_principal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45%;
    padding-bottom: 50px;
}

.welcome {
    color: var(--ion-color-orange);
    font: normal 22px 'Helvetica-Bd';
    text-align: left;
}

.container {
    height: 100%;
    width: 100% !important;
    padding: 0 55px 0 55px !important;
}

//   .btn_init_section {

//     width: 100% !important;
//     min-width: 160px !important;
//     height: 32px;
//     font: normal 15px 'Helvetica-Roman',  !important;
//     --border-radius: 5px;
//     //font: normal 15px "Helvetica-Bd", ;
//   }

.div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    width: 100%;
    min-width: 160px;
    margin-bottom: 15px;
}

.forgotten_pass {
    color: rgb(42, 176, 185);
    text-decoration: none;
    text-align: left;
    font: normal 12px, verdana;
    min-width: 160px !important;
}

.forgotten_pass_div {
    width: 100% !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.custom_input {
    border: none;
    border-radius: 8px !important;
    background-color: var(--ion-color-gray);
    width: 100% !important;
    // --padding-top: 15px;
    // --padding-start: 15px;
    // --padding-bottom: 8px;
    // --padding-end: 15px;
    text-align: left;
    // font-family: "Helvetica-Md", ;
    font-size: 12px !important;
    outline: none !important;
}
