<p-toast
    [baseZIndex]="3000"
    [style]="{width: '250px', height: '25px' , minWidth: '200px'}"
></p-toast>

<app-header headerText="Solicitud" [fillBackground]="false"></app-header>

<ion-content>
    <div style="width: 80%; text-align: left; margin: auto; margin-top: 60px; font-weight: bold">
        Introduzca sus datos básicos
    </div>

    <div style="width: 80%; text-align: center; margin: auto; margin-top: 40px">
        <form #formulario="ngForm" (ngSubmit)="onSubmit()">
            <ion-input
                class="custom_input"
                name="name"
                [(ngModel)]="name"
                placeholder="NOMBRE"
                required
            >
            </ion-input>
            <div class="div" style="margin-top: 5px">
                <ion-input
                    class="custom_input"
                    name="lastName"
                    [(ngModel)]="lastName"
                    placeholder="APELLIDOS"
                    required
                >
                </ion-input>
            </div>
            <ion-row style="margin-top: 10px">
                <div class="flex_centered" style="width: 30px" (click)="ubicacion()">
                    <img class="img_location" src="/assets/icon/ubicacion.svg" />
                </div>
                <ion-label style="margin: auto">Ubique su dirección en el mapa</ion-label>
            </ion-row>

            <ion-item class="module ion-no-padding" style="margin-top: 20%" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_photo" src="/assets/icon/camara.svg"></ion-img>
                        <ion-label class="h3_title">Fotos</ion-label>
                    </div>
                    <div class="flex_column">
                        <!-- <ion-label class="h6_title">Antes</ion-label> -->
                        <div class="flex_row">
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_0"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                >
                                    <img
                                        class="selecf"
                                        (click)="imageClick(task.photoSO[0])"
                                        src="{{task.photoSO[0]}}"
                                        onError="this.src='assets/images/noImage.svg'"
                                    />
                                </ion-card>
                            </div>
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_1"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                >
                                    <img
                                        class="selecf"
                                        (click)="imageClick(task.photoSO[1])"
                                        src="{{task.photoSO[1]}}"
                                        onError="this.src='assets/images/noImage.svg'"
                                    />
                                </ion-card>
                            </div>
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_2"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                >
                                    <img
                                        class="selecf"
                                        (click)="imageClick(task.photoSO[2])"
                                        src="{{task.photoSO[2]}}"
                                        onError="this.src='assets/images/noImage.svg'"
                                    />
                                </ion-card>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>

            <div class="task_materials_buttons">
                <div class="one_button">
                    <p-button
                        type="submit"
                        [disabled]="formulario.invalid || btn_deshabilitar"
                        label="CONTINUAR"
                    >
                    </p-button>
                </div>
            </div>
        </form>
    </div>
</ion-content>
