<ion-header class="ion-no-border">
    <app-header headerText="Notificaciones" [fillBackground]="false"></app-header>
</ion-header>

<ion-content>
    <div style="margin-top: 10%" *ngIf="notificaciones.length > 0">
        <ion-row *ngFor="let notificacion of notificaciones, let i = index">
            <ion-col size="1"></ion-col>
            <ion-col size="1" style="padding-top: 2%">
                <div *ngIf="notificacion.notificationType == 1">
                    <ion-img
                        src="../../../assets/icon/notificaciones.svg"
                        style="width: 20px; height: 20px; margin: 5px auto; color: var(--ion-color-orange)"
                    ></ion-img>
                </div>

                <div *ngIf="notificacion.notificationType == 3 ||  notificacion.notificationType == 5">
                    <ion-img
                        src="../../../assets/icon/notificaciones.svg"
                        style="width: 20px; height: 20px; margin: 5px auto; color: var(--ion-color-orange)"
                    ></ion-img>
                </div>

                <div *ngIf="notificacion.notificationType == 4">
                    <ion-img
                        (click)="detalles()"
                        src="../../../assets/icon/bocina.svg"
                        style="width: 20px; height: 20px; margin: 5px auto; color: var(--ion-color-orange)"
                    ></ion-img>
                </div>
            </ion-col>

            <ion-col size="9">
                <div class="flex_column" style="width: 100%; margin-left: 20px">
                    <ion-label class="prom_title" *ngIf="notificacion.notificationType == 3 || notificacion.notificationType == 5"
                        >Nuevo Mensaje</ion-label
                    >

                    <ion-label class="prom_title" *ngIf="notificacion.notificationType == 2 || notificacion.notificationType == 6"
                        >Nueva Oferta</ion-label
                    >
                    <ion-label class="prom_text ion-text-wrap" *ngIf="notificacion.notificationType !== 5"
                        >En la solicitud {{ notificacion.title }}</ion-label
                    >
                    <ion-label class="prom_text ion-text-wrap" *ngIf="notificacion.notificationType == 5 || notificacion.notificationType == 6"
                        >{{ notificacion.title }}</ion-label
                    >
                </div>
                <div id="item"></div>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </div>

    <div style="margin-top: 50%" *ngIf="notificaciones.length === 0">
        <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4" style="text-align: center">
                <ion-row>
                    <div>
                        <img style="width: 85%; height: 85%" src="../../../assets/icon/empty.svg" />
                    </div>
                </ion-row>
            </ion-col>
            <ion-col size="4"></ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" style="text-align: center">
                <h4 style="color: lightgray; margin-top: 0px">No hay notificaciones</h4>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </div>
</ion-content>
