<p-toast
    [baseZIndex]="3000"
    [style]="{width: '250px', height: '25px' , minWidth: '200px'}"
></p-toast>

<ion-header> </ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10" style="text-align: center">
                <h1 style="color: rgb(246, 183, 118); margin-top: 35px">CREAR CUENTA</h1>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>

        <ion-row style="margin-top: 25px">
            <ion-col size="3.5"></ion-col>

            <ion-col size="5" style="text-align: center">
                <ion-card id="card_pic" [ngClass]="(selectFoto) ? 'green_border_bold':'no_border'">
                    <ion-img id="selecf" [src]="avatarusuario" (click)="presentAlertConfirm()">
                    </ion-img>
                </ion-card>
            </ion-col>

            <ion-col size="3.5"></ion-col>
        </ion-row>

        <form #formulario="ngForm">
            <ion-row id="datos">
                <ion-col>
                    <ion-list>
                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((nombre1.invalid && nombre1.touched) || nombreVacio) ? 'green_border':'no_border'"
                                    type="text"
                                    [(ngModel)]="nombre"
                                    name="nombre"
                                    required
                                    autofocus
                                    placeholder="NOMBRE Y APELLIDOS"
                                    #nombre1="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(nombre1.invalid && nombre1.touched) || nombreVacio"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <!-- <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-datetime
                                    class="date"
                                    [ngClass]="((fecha_nac.invalid && fecha_nac.touched) || esMayorEdad===false || fecha_nacimiento ) ? 'green_border':'no_border'"
                                    displayFormat="DDDD MMM D, YYYY"
                                    cancelText="Cancelar"
                                    doneText="Cambiar"
                                    min="1920"
                                    max="2030"
                                    placeholder="FECHA DE NACIMIENTO"
                                    [(ngModel)]="date"
                                    name="date"
                                    required
                                    (ionChange)="validarMayorDeEdad(date)"
                                    #fecha_nac="ngModel"
                                >
                                </ion-datetime>
                                <ion-label
                                    *ngIf="fecha_nac.invalid && fecha_nac.touched"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                                <ion-label
                                    *ngIf="(fecha_nac.valid && fecha_nac.touched && esMayorEdad===false) || fecha_nacimiento "
                                    class="mandatory"
                                >
                                    Para registrarse debe ser mayor de 18 años
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row> -->

                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((usuario.invalid && usuario.touched) || user_vacio) ? 'green_border':'no_border'"
                                    type="email"
                                    [(ngModel)]="user"
                                    name="user"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                    required
                                    placeholder="USUARIO"
                                    #usuario="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(usuario.invalid && usuario.touched) || user_vacio"
                                    class="mandatory"
                                >
                                    Debe escribir su correo correctamente
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((pass.invalid && pass.touched) || password_vacio) ? 'green_border':'no_border'"
                                    type="password"
                                    [(ngModel)]="password"
                                    name="password"
                                    minlength="5"
                                    required
                                    placeholder="CONTRASEÑA"
                                    #pass="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(pass.invalid && pass.touched) || password_vacio"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((confirm_pass.invalid && confirm_pass.touched) || confirmPass_vacia) ? 'green_border':'no_border'"
                                    type="password"
                                    [(ngModel)]="confirmPass"
                                    minlength="5"
                                    name="confirmPass"
                                    required
                                    placeholder="CONFIRMAR CONTRASEÑA"
                                    (ionChange)="compararContraea(confirmPass)"
                                    #confirm_pass="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(confirm_pass.invalid && confirm_pass.touched) || confirmPass_vacia"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                                <ion-label *ngIf="(confirmPassBoolean)" class="mandatory">
                                    No hay coincidencia con el password
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((telefono.invalid && telefono.touched) || phone_vacio) ? 'green_border':'no_border'"
                                    type="tel"
                                    [(ngModel)]="phone"
                                    name="phone"
                                    placeholder="TELÉFONO"
                                    required
                                    minlength="9"
                                    maxlength="9"
                                    #telefono="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(telefono.invalid && telefono.touched) || phone_vacio"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1"></ion-col>
                            <ion-col size="10">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((num_calle.invalid && num_calle.touched) || streetNumber_vacio) ? 'green_border':'no_border'"
                                    type="text"
                                    [(ngModel)]="streetNumber"
                                    name="streetNumber"
                                    required
                                    placeholder="NO. CALLE"
                                    #num_calle="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(num_calle.invalid && num_calle.touched) || streetNumber_vacio"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                            </ion-col>
                            <ion-col size="1"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>

                            <ion-col size="5">
                                <ion-input
                                    class="custom_input"
                                    [ngClass]="((numero.invalid && numero.touched) || number_vacio) ? 'green_border':'no_border'"
                                    type="text"
                                    [(ngModel)]="number"
                                    name="number"
                                    required
                                    placeholder="NÚMERO"
                                    #numero="ngModel"
                                >
                                </ion-input>
                                <ion-label
                                    *ngIf="(numero.invalid && numero.touched) || number_vacio"
                                    class="mandatory"
                                >
                                    Campo obligatorio
                                </ion-label>
                            </ion-col>

                            <ion-col size="5" style="margin-right: 5px">
                                <ion-input
                                    name="puerta"
                                    type="number"
                                    placeholder="PUERTA"
                                    [(ngModel)]="puerta"
                                    #pue="ngModel"
                                >
                                </ion-input>
                            </ion-col>

                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>

                            <ion-col size="5">
                                <ion-input
                                    name="portal"
                                    type="number"
                                    placeholder="PORTAL"
                                    [(ngModel)]="portal"
                                    #port="ngModel"
                                >
                                </ion-input>
                            </ion-col>

                            <ion-col size="5" style="margin-right: 5px">
                                <ion-input
                                    name="cod_postal"
                                    type="number"
                                    placeholder="COD_POSTAL"
                                    [(ngModel)]="cod_postal"
                                    #c_post="ngModel"
                                ></ion-input>
                            </ion-col>

                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>

                            <ion-col size="5">
                                <ion-input
                                    name="escalera"
                                    type="text"
                                    placeholder="ESCALERA"
                                    [(ngModel)]="escalera"
                                ></ion-input>
                            </ion-col>

                            <ion-col size="5" style="margin-right: 5px">
                                <ion-input
                                    name="piso"
                                    type="number"
                                    placeholder="PISO"
                                    [(ngModel)]="piso"
                                ></ion-input>
                            </ion-col>

                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>

                            <ion-col size="3" style="text-align: start; margin-top: 5px">
                                <div *ngIf=" !obligatorioGPS" (click)="ubicacion()">
                                    <img id="imgGPS" src="../../assets/icon/ubicacion.svg" />
                                </div>

                                <div *ngIf=" obligatorioGPS" (click)="ubicacion()">
                                    <img id="imgGPS" src="../../assets/icon/gpsObligatorio.svg" />
                                </div>
                            </ion-col>

                            <ion-col size="8" style="background: rgb(255, 255, 255)"></ion-col>
                        </ion-row>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col style="text-align: center; margin-top: 65px">
                    <ion-button type="submit" (click)="iniciar()">
                        <span style="padding-top: 2px">Crear</span>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
