<ion-header class="ion-no-border">
    <div style="background: var(--ion-color-orange)">
        <app-header headerText="Perfil" [fillBackground]="false"></app-header>
    </div>
    <div id="barraSuperior">
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8" style="text-align: center; padding-top: 0px">
                <ion-label
                    style="
                        color: rgb(49, 49, 57);
                        font-family: 'Helvetica-Bd';
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        flex-direction: column;
                        text-align: center;
                        margin-top: 8px;
                    "
                    >¿QUIÉNES SOMOS?</ion-label
                >
            </ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content>
    <div style="display: flex; width: 100%; height: 100%">
        <div
            style="
                margin-top: 40px;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: 50%;
            "
        >
            <div style="font-size: 14px; font-weight: bold">
                Ingenieros y desarrolladores de software
            </div>
            <div style="margin-top: 20px; display: flex; justify-content: left">
                <div style="display: flex"></div>
                <div class="primary-color-point"></div>
                <ion-label class="text-name">Adrian Nieves</ion-label>
            </div>
            <div style="margin-top: 10px; display: flex; justify-content: left">
                <div style="display: flex"></div>
                <div class="primary-color-point"></div>
                <ion-label class="text-name">Luis Alejandro Reyes</ion-label>
            </div>
            <div style="margin-top: 10px; display: flex; justify-content: left">
                <div style="display: flex"></div>
                <div class="primary-color-point"></div>
                <ion-label class="text-name">César Javier Herrera</ion-label>
            </div>

            <div class="text-name" style="margin-top: 20px; margin-left: 0">
                Gracias por confiar en nosotros
            </div>
        </div>
    </div>
</ion-content>
