:host ::ng-deep .task_materials_buttons {
    width: 80%;
    margin-left: 10%;
    //bottom: 0;
    // padding-bottom: 10%;
    //margin: 0, auto;
    position: absolute;
    bottom: 5%;

    .one_button {
        width: 100%;
        //padding-top: 15%;

        .p-button {
            margin-top: 10%;
            span {
                padding-top: 5px;
                font: normal 15px 'Helvetica-Md' !important;
            }

            color: rgb(49, 49, 57);
            border: solid var(--ion-color-primary);
            background: var(--ion-color-primary);
            width: 100%;
        }

        .p-button:focus {
            box-shadow: none !important;
        }
    }
}

ion-input {
    border: 1px transparent;
    background-color: rgb(245, 245, 245);
    fill: round($number: 7);

    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
}

ion-input.ng-invalid.ng-touched {
    border: 2px solid rgb(101, 173, 172) !important;
}
ion-button {
    background-color: rgb(246, 183, 118);
    color: rgb(49, 49, 57);

    border-radius: 5px 5px 5px 5px;
    font-family: 'Helvetica-Bd';
    margin-top: 50px;
}

h3 {
    font-family: 'Helvetica-Bd';
    color: rgb(246, 183, 118);
    text-align: center;
}

.mandatory {
    font: normal 8px 'Helvetica-Roman';
    color: rgb(101, 173, 172);
    display: block;
    height: 10px !important;
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: rgb(246, 183, 118);
        border: solid rgb(246, 183, 118);
        border-width: 0 0 0 6px;
        width: 10px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}

.no_border {
    border: none !important;
}

.green_border {
    border: 1px solid var(--ion-color-greenblue) !important;
    border-radius: 5px;
}

.green_border_bold {
    border: 3px solid var(--ion-color-greenblue) !important;
    border-radius: 20px;
}
