<app-header headerText="Seleccione" [fillBackground]="false"></app-header>

<ion-content style="text-align: center">
    <div class="div_title">
        <ion-label class="title">TUTORIAL</ion-label>
    </div>

    <div style="padding: 50px; font-weight: bold">
        <p>
            En este tutorial podrá ver tareas creadas por otros clientes y respondidas por
            trabajadores de nuestra plataforma o podrá crear una nueva tarea con su problema y
            esperará respuesta por nuestros trabajadores.
        </p>
    </div>

    <div class="home_buttons">
        <div class="two_up_buttons">
            <p-button label="CREAR SOLICITUD" (onClick)="createNewRequest()"></p-button>

            <p-button
                id="down"
                label="VER SOLICITUDES EXISTENTES"
                (click)="seeAllRequest()"
            ></p-button>
        </div>
    </div>
</ion-content>
