// ******************************************-

.barra {
    background-color: var(--ion-color-gray);
    height: 10px;
    width: 100%;
    z-index: 50;
    margin-top: -10px !important;
}

.label_presupuesto {
    font: normal 15px 'Helvetica-Bd';
}

.pres_container {
    background-color: var(--ion-color-gray);
    height: 54px;
    width: 100%;
    z-index: 50;
    margin-bottom: 5px !important;
}

.div_presupuesto {
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.chat_container {
    background-color: var(--ion-color-gray);
    border-radius: 30px;
    width: 90% !important;
    margin-bottom: 10px;
    height: auto;
}

.attach_btn {
    width: 35px;
    height: 50px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    background-image: cover;
    margin: 0 5px;
    --border-radius: 0;
}

.send_btn {
    width: 35px;
    height: 50px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    background-image: cover;
    margin: 0 10px 0 5px;
    --border-radius: 0 10px 10px 0;
}

.text_area {
    width: 100%;
    margin-left: 10px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font: normal 14px 'Helvetica-Roman';
    text-align: left;
    z-index: 0 !important;
}

.div_chat {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
}

.bubble_chat_me_old {
    background-color: var(--ion-color-gray);
    border-radius: 10px !important;
    font: normal 14px 'Helvetica-Roman';
    text-align: left;
    padding: 15px !important;
}

.bubble_chat_me {
    background-color: var(--ion-color-gray);
    border-radius: 10px !important;
    font: normal 14px 'Helvetica-Roman';
    text-align: left;
    padding: 15px !important;
    display: inline-block;
    position: relative;
}

.bubble_chat_me::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    left: auto;
    top: auto;
    bottom: 0;
    border: 10px solid;
    border-color: transparent transparent var(--ion-color-gray) transparent;
}

.bubble_chat_others_old {
    background-color: var(--ion-color-orange);
    border-radius: 10px;
    font: normal 14px 'Helvetica-Roman';
    text-align: left;
    padding: 15px !important;
}

.bubble_chat_others {
    background-color: var(--ion-color-orange);
    border-radius: 10px;
    font: normal 14px 'Helvetica-Roman';
    text-align: left;
    padding: 15px !important;
    display: inline-block;
    position: relative;
}

.bubble_chat_others::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    right: auto;
    top: auto;
    bottom: 0;
    border: 10px solid;
    border-color: transparent transparent var(--ion-color-orange) transparent;
}

.chat_bubble {
    width: 100%;
    --inner-padding-end: 0;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box !important;
}

.no_border {
    border: none;
}

.align_right {
    justify-content: flex-end;
    padding-right: 15px;
}

.align_left {
    justify-content: flex-start;
    padding-left: 15px;
}

ion-footer {
    align-self: flex-end;
    position: static;
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: rgb(246, 183, 118);
        border: solid rgb(246, 183, 118);
        border-width: 0 0 0 6px;
        width: 10px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}
