:host ::ng-deep .home {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-primary-background);

    .home_image {
        position: relative;
        width: 100%;
        height: 55%;

        img {
            // text-align: start;
            height: 100%;
        }

        //background-repeat: no-repeat;
        //background-image: url('/assets/images/home_image.png');
        //background-size: cover;

        .home_icon {
            width: 30%;
            height: 30%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background-repeat: no-repeat;
            background-image: url('/assets/icon/logo_header.svg');
            background-size: auto;
        }
    }

    .home_buttons {
        width: 80%;
        height: 40%;
        margin: 0 auto;
        margin-top: 5%;

        .two_up_buttons {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 15%;

            .p-button {
                span {
                    padding-top: 5px;
                    font: normal 15px 'Helvetica-Md' !important;
                }

                color: var(--ion-color-primary-background);
                margin-top: 15%;
                background-color: var(--ion-color-primary);
                border: solid var(--ion-color-primary);
                width: 100%;
            }

            .p-button:focus {
                box-shadow: none !important;
            }
        }

        .p-button-outlined {
            span {
                padding-top: 5px;
                font: normal 17px 'Helvetica-Md' !important;
            }

            width: 100%;
            height: 17%;
            color: var(--ion-color-primary);
            border-radius: 7px;
        }

        .p-button-outlined:focus {
            box-shadow: none !important;
        }
    }
}
