<ion-content class="ion-no-padding" style="overflow-y: hidden">
    <div class="container">
        <div class="flex_column">
            <div class="div_title">
                <ion-label class="title">CREAR CUENTA</ion-label>
            </div>

            <div id="terminos"></div>

            <div
                class="flex_row"
                style="height: 100px; justify-content: flex-start; align-items: center"
            >
                <ion-list>
                    <ion-item class="ion-no-padding" lines="none" (click)="condiciones()">
                        <ion-label style="font: normal 12px verdana, sans-serif"
                            >Acepto los términos y condiciones</ion-label
                        >
                        <ion-checkbox
                            mode="ios"
                            color="orange"
                            slot="start"
                            value="select"
                            style="width: 15px; height: 15px"
                        >
                        </ion-checkbox>
                    </ion-item>
                </ion-list>
            </div>

            <div class="div_btn">
                <ion-button
                    id="accept_btn"
                    color="orange"
                    expand="block"
                    [disabled]="aceptar"
                    (click)="aceptarregistro()"
                >
                    <span style="padding-top: 2px">ACEPTAR</span>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>
