<ion-content class="ion-no-padding" style="overflow-y: hidden">
    <div class="container">
        <div class="flex_column">
            <div class="div_title">
                <ion-label class="title">CREAR CUENTA</ion-label>
            </div>

            <div id="terminos"></div>

            <div
                class="flex_row"
                style="height: 100px; justify-content: flex-start; align-items: center"
            >
                <ion-list>
                    <ion-item class="ion-no-padding" lines="none" (click)="nayorEdad()">
                        <ion-label style="font: normal 12px verdana, sans-serif"
                            >Soy mayor de 18 años</ion-label
                        >
                        <ion-checkbox
                            mode="ios"
                            color="orange"
                            slot="start"
                            value="select"
                            style="width: 15px; height: 15px"
                        >
                        </ion-checkbox>
                    </ion-item>
                    <ion-item class="ion-no-padding" lines="none" (click)="condiciones()">
                        <ion-label style="font: normal 12px verdana, sans-serif"
                            >Acepto los términos y condiciones</ion-label
                        >
                        <ion-checkbox
                            mode="ios"
                            color="orange"
                            slot="start"
                            value="select"
                            style="width: 15px; height: 15px"
                        >
                        </ion-checkbox>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
    <div class="task_materials_buttons">
        <div class="one_button">
            <p-button id="accept_btn" (onClick)="aceptarregistro()" label="ACEPTAR"> </p-button>
        </div>
    </div>
</ion-content>
