.container {
    width: 100% !important;
    padding: 0 35px !important;
}

.div_title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px !important;
    padding-bottom: 10px;
}

.title {
    font: normal 28px 'Helvetica-Bd', sans-serif;
    color: var(--ion-color-orange);
}

#terminos {
    text-align: justify;
    font: normal 12px verdana, sans-serif;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 500px;
    width: 100%;
}

ion-checkbox {
    width: 15px !important;
    height: 15px !important;
    margin-right: 10px;
}

ion-checkbox::part(container) {
    border: solid 1px var(--ion-color-black);
}

.div_btn {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 45px;
}

#accept_btn {
    --border-radius: 5px;
    width: 100% !important;
    min-width: 160px !important;
    height: 32px;
    font: normal 15px 'Helvetica-Roman', sans-serif !important;
}

:host ::ng-deep .task_materials_buttons {
    width: 80%;
    margin-left: 10%;
    //bottom: 0;
    // padding-bottom: 10%;
    //margin: 0, auto;
    position: absolute;
    bottom: 5%;

    .one_button {
        width: 100%;
        //padding-top: 15%;

        .p-button {
            margin-top: 10%;
            span {
                padding-top: 5px;
                font: normal 15px 'Helvetica-Md', sans-serif !important;
            }

            color: rgb(49, 49, 57);
            border: solid var(--ion-color-primary);
            background: var(--ion-color-primary);
            width: 100%;
        }

        .p-button:focus {
            box-shadow: none !important;
        }
    }
}
