<ion-content>
    <agm-map
        id="map-parent"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="18"
        mapTypeId="hybrid"
        [disableDefaultUI]="true"
    >
        <agm-marker
            *ngFor="let marcador of marcadores; let i = index"
            [latitude]="marcador.lat"
            [longitude]="marcador.lng"
        >
            <agm-info-window>
                <strong>Ubicacion</strong>
                <p>seleccionada</p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</ion-content>
