:host ::ng-deep {
    .p-toast-message-custom {
        background-color: rgb(246, 183, 118);
        border: solid rgb(246, 183, 118);
        border-width: 0 0 0 6px;
        width: 10px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}

ion-fab-button {
    width: 70px;
    height: 70px;
}

.heaven {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50px;
    left: 50px;
    z-index: 10000;
}

.newApplication {
    position: absolute;
    bottom: 25%;
    left: 25%;
}

//--------------------
