<p-toast
    [baseZIndex]="3000"
    [style]="{width: '250px', height: '25px' , minWidth: '200px'}"
></p-toast>

<ion-header class="ion-no-border">
    <div style="background: var(--ion-color-orange)">
        <app-header headerText="Contratados" [fillBackground]="true"></app-header>
    </div>

    <div id="barraNaranja">
        <ion-segment
            (ionChange)="segChange($event)"
            style="color: rgb(49, 49, 57)"
            color="dark"
            #segmentHist
        >
            <ion-segment-button class="segment_btn" value="chat">
                <ion-label style="color: rgb(49, 49, 57)">CHAT</ion-label>
            </ion-segment-button>
            <ion-segment-button class="segment_btn" value="detalle">
                <ion-label style="color: rgb(49, 49, 57)">DETALLES</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div *ngIf="barraChat" class="pres_container">
        <ion-row class="div_presupuesto" style="padding-bottom: 0px">
            <ion-col size="9.5" style="padding-left: 20px; padding-bottom: 0px">
                <ion-label class="label_presupuesto">Costo Extra: {{ presupuesto }} €</ion-label>
            </ion-col>
            <ion-col size="1" style="padding: 12px 5px 0px 0px">
                <img
                    style="width: 20px; height: 20px"
                    (click)="alertaDateChange()"
                    src="../../../assets/icon/pencil.svg"
                />
            </ion-col>

            <ion-col size="1.5" style="padding: 12px 5px 0px 0px">
                <img
                    style="width: 20px; height: 20px"
                    (click)="onClose()"
                    src="../../../assets/icon/close.svg"
                />
            </ion-col>
        </ion-row>
        <ion-row style="padding-top: 0px">
            <ion-col size="1.5" style="padding: 0px 0px 5px 5px; text-align: center">
                <img
                    style="width: 15px; height: 15px"
                    (click)="verFactura()"
                    src="../../../assets/icon/detail.svg"
                />
            </ion-col>
            <ion-col size="3" style="padding-top: 0px; padding-left: 0px">
                <p
                    style="margin: 0px 0px; font-size: 11px; text-decoration: underline"
                    (click)="verFactura()"
                >
                    Ver factura total
                </p>
            </ion-col>
            <ion-col size="7.5"></ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content>
    <div *ngIf="barraChat" class="flex_column" style="height: 100%; width: 100%">
        <div
            style="width: 105%; height: 100%; display: flex; flex-direction: row; min-height: 100px"
        >
            <div class="div_chat" #target *ngIf="!chat_vacia">
                <ion-row
                    class="chat_bubble"
                    lines="none"
                    [ngClass]="(user.partner_id ==  message.author_id) ? 'align_right' : 'align_left'"
                    *ngFor="let message of messagesList"
                >
                    <ng-container
                        *ngIf="(user.partner_id ==  message.author_id ); else elseTemplate"
                    >
                        <div
                            style="width: auto; height: auto; max-width: 80%"
                            [ngClass]="( message.message === ultimo_sms) ? 'bubble_chat_me' : 'bubble_chat_me_old'"
                        >
                            <div>{{ message.message }}</div>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div
                            style="width: auto; height: auto; max-width: 80%"
                            [ngClass]="( message.message === sms_cliente) ? 'bubble_chat_others' : 'bubble_chat_others_old'"
                        >
                            <div>{{ message.message }}</div>
                        </div>
                    </ng-template>
                </ion-row>
            </div>

            <div *ngIf="chat_vacia" class="flex_column">
                <div class="flex_row" class="flex_centered" style="margin-top: 60px">
                    <img style="width: 55%; height: 55%" src="../../../assets/icon/empty.svg" />
                </div>
                <div class="flex_row" class="flex_centered" style="margin-top: 0px">
                    <h4 style="color: lightgray; margin-top: 0px">Chat empty</h4>
                </div>
            </div>

            <div style="height: 100%; width: 5%"></div>
        </div>
        <!-- ************************************************** -->

        <ion-footer class="ion-no-border">
            <div style="display: flex; justify-content: center">
                <div class="flex_row chat_container">
                    <ion-textarea
                        class="text_area"
                        auto-grow
                        cols="1"
                        rows="1"
                        inputmode="text"
                        placeholder="Escriba un mensaje..."
                        autofocus
                        [(ngModel)]="message.message"
                    >
                    </ion-textarea>

                    <div style="display: flex; flex-direction: column; justify-content: flex-end">
                        <ion-button fill="clear" class="send_btn" (click)="pushToChat()">
                            <ion-icon
                                name="send"
                                color="greenblue"
                                style="min-width: 25px; min-height: 30px"
                            ></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </div>
        </ion-footer>
    </div>

    <div *ngIf="!barraChat" class="flex_column" style="height: 100%; width: 100%">
        <ion-list style="padding: 15px 25px 60px 25px !important">
            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <ion-label class="h2_title">{{ task.type }}</ion-label>
                    <ion-label class="h6_title ion-text-wrap">{{ task.title }}</ion-label>
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_calendar" src="/assets/icon/calendario.svg"></ion-img>
                        <ion-label class="h3_title">Fecha</ion-label>
                    </div>
                    <ion-label class="h6_title ion-text-wrap"
                        >{{ task.date_planned |date:'EEEE d.MMMM yyyy' | lowercase }}</ion-label
                    >
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_schedule" src="/assets/icon/hora.svg"></ion-img>
                        <ion-label class="h3_title">Horario</ion-label>
                    </div>
                    <ion-label class="h6_title ion-text-wrap"
                        >{{ task.time |date: 'h:mm a' }}</ion-label
                    >
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_direction" src="/assets/icon/direccion.svg"></ion-img>
                        <ion-label class="h3_title">Dirección</ion-label>
                    </div>

                    <div class="flex_row">
                        <div class="flex_column">
                            <ion-label class="h6_title ion-text-wrap"
                                >{{ task.address.street}}, Numero: {{ task.address.number
                                }},</ion-label
                            >
                            <div class="flex_row">
                                <ion-label
                                    class="h6_title ion-text-wrap"
                                    *ngIf=" task.address.portal"
                                    >Portal: {{ task.address.portal }},
                                </ion-label>
                                <ion-label
                                    class="h6_title ion-text-wrap"
                                    *ngIf=" task.address.stair"
                                    >Escalera: {{ task.address.stair }},
                                </ion-label>
                                <ion-label
                                    class="h6_title ion-text-wrap"
                                    *ngIf=" task.address.floor"
                                    >Piso: {{ task.address.floor }},
                                </ion-label>
                                <ion-label class="h6_title ion-text-wrap" *ngIf=" task.address.door"
                                    >Puerta: {{ task.address.door }},
                                </ion-label>
                            </div>
                            <ion-label class="h6_title ion-text-wrap" *ngIf=" task.address.cp"
                                >Codigo_Postal: {{ task.address.cp }},
                            </ion-label>
                        </div>

                        <div class="flex_centered">
                            <img
                                class="img_location"
                                src="/assets/icon/ubicacion.svg"
                                (click)="onClickUbicacion( )"
                            />
                        </div>
                    </div>
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_schedule" src="/assets/icon/materials.svg"></ion-img>
                        <ion-label class="h3_title">Materiales</ion-label>
                    </div>
                    <ion-label class="h6_title ion-text-wrap"
                        >{{ task.require_materials?'Dispone de materiales':'No dispone de
                        materiales'}}</ion-label
                    >
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_price" src="/assets/icon/budget.svg"></ion-img>
                        <ion-label class="h3_title">Precio</ion-label>
                    </div>
                    <div class="flex_row">
                        <ion-label class="h6_title ion-text-wrap">
                            Total: {{ task.materials + task.work_force }} €
                        </ion-label>
                        <ion-button
                            class="btn"
                            style="min-width: 105px !important"
                            color="orange"
                            (click)="onClickFactura()"
                        >
                            <span style="padding-top: 5px">VER FACTURA</span>
                        </ion-button>
                    </div>
                    <!-- <ion-row>
                        <ion-col size="1">
                            <ion-img
                                *ngIf="task.notificationExtraCost"
                                class="iconpligro"
                                style="margin-top: 20%"
                                src="/assets/icon/extraBudget.svg"
                            ></ion-img>
                        </ion-col>
                        <ion-col size="5">
                            <ion-label class="costoExt" *ngIf="task.notificationExtraCost">
                                Costos extras por pagar
                            </ion-label>
                        </ion-col>
                        <ion-col size="6" style="text-align: end; padding-right: 0px">
                            <ion-button
                                class="btn"
                                style="min-width: 105px !important"
                                color="orange"
                                disabled="true"
                                (click)="onClickFactura( )"
                            >
                                <span style="padding-top: 5px">COSTOS EXTRAS</span>
                            </ion-button>
                        </ion-col>
                    </ion-row> -->
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_photo" src="/assets/icon/camara.svg"></ion-img>
                        <ion-label class="h3_title">Fotos</ion-label>
                    </div>
                    <div class="flex_column">
                        <!-- <ion-label class="h6_title">Antes</ion-label> -->
                        <div class="flex_row">
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_0"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                    (click)="imageClick(imagen_0)"
                                >
                                    <img class="selecf" src="{{imagen_0}}" />
                                </ion-card>
                            </div>
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_1"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                    (click)="imageClick(imagen_1)"
                                >
                                    <img class="selecf" src="{{imagen_1}}" />
                                </ion-card>
                            </div>
                            <div class="flex_column">
                                <ion-card
                                    [disabled]="habilitar_2"
                                    style="
                                        border: 0.5px solid rgb(49, 49, 57);
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 5px 5px 5px 5px;
                                        margin: 10px 0px;
                                    "
                                    (click)="imageClick(imagen_2)"
                                >
                                    <img class="selecf" src="{{imagen_2}}" />
                                </ion-card>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_schedule" src="/assets/icon/edit.svg"></ion-img>
                        <ion-label class="h3_title">Descripción</ion-label>
                    </div>
                    <p class="h6_title ion-text-wrap">
                        {{ task.description?task.description:'Sin descripción' }}
                    </p>
                </div>
            </ion-item>

            <ion-item class="module ion-no-padding" style="border: none !important" lines="none">
                <div class="flex_column">
                    <div class="flex_row flex_centered">
                        <ion-img class="icon_contact" src="/assets/icon/contact.svg"></ion-img>
                        <ion-label class="h3_title">Trabajador</ion-label>
                    </div>
                    <div class="flex_row">
                        <ion-label class="h6_title ion-text-wrap"
                            >{{ task.provider_name }}</ion-label
                        >
                        <ion-button class="btn" color="orange" (click)="onClickDenunciar( $event )">
                            <span style="padding-top: 5px">DENUNCIAR</span>
                        </ion-button>
                    </div>

                    <img
                        id="fotopersonal"
                        style="margin-top: 15px"
                        src="{{ task.photoProvider }}"
                        onError="this.src='../../assets/images/noImage.svg'"
                    />
                </div>
            </ion-item>
        </ion-list>

        <p-dialog
            header=" "
            [(visible)]="displayClasificar"
            position="bottom"
            [modal]="true"
            [style]="{ width: '85vw' }"
            [baseZIndex]="1000"
            [draggable]="false"
            [resizable]="false"
        >
            <ion-row style="margin-top: 30px">
                <ion-col size="4">
                    <img
                        id="photoProvider"
                        src="{{task.photoProvider}}"
                        onError="this.src='assets/images/noImage.svg'"
                    />
                </ion-col>

                <ion-col size="8">
                    <ion-row style="margin-left: 10px">
                        <ion-label style="font-family: 'HelveticaNeueLTStd-Bd'"
                            >{{task.client_name}}</ion-label
                        >
                    </ion-row>

                    <ion-row style="margin-left: 10px; margin-bottom: 5px">
                        <ion-label>Fontanero</ion-label>
                    </ion-row>

                    <ion-row style="margin-left: 10px">
                        <p-rating
                            [(ngModel)]="val"
                            [(ngModel)]="clasificacion"
                            [cancel]="false"
                        ></p-rating>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="0.1"> </ion-col>
                <ion-col size="11.8" style="margin-top: 50x">
                    <textarea
                        name="Text1"
                        cols="30"
                        rows="6"
                        [(ngModel)]="comentario_clasificacion"
                        style="max-width: 100%; width: 100%; flex: 100%"
                        placeholder="Escriba su opinión aqui"
                    ></textarea>
                </ion-col>

                <ion-col size="0.1"> </ion-col>
            </ion-row>

            <div class="div">
                <ion-button
                    class="btn_init_section"
                    type="submit"
                    color="orange"
                    expand="block"
                    [disabled]="opinion"
                    (click)="btn_enviarClasificacion()"
                >
                    <span style="padding-top: 5px">CALIFICAR</span>
                </ion-button>
            </div>

            <div class="div">
                <ion-button
                    class="btn_init_section"
                    type="submit"
                    color="orange"
                    expand="block"
                    (click)="btn_ahoraNo()"
                >
                    <span style="padding-top: 5px">AHORA NO</span>
                </ion-button>
            </div>
        </p-dialog>

        <div class="task_materials_buttons">
            <div class="one_button">
                <p-button
                    [disabled]="finish"
                    (click)="onClickFinalizar( $event )"
                    label="FINALIZAR TAREA"
                >
                </p-button>
            </div>
        </div>
    </div>
</ion-content>
